[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=toolkitdocker
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=ToolKit
Comment=Minimal toolbox for Krita
